<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}</title>
</head>
<body>
<h2>flask-wtf的表单类jinja2模板</h2>
{{ book }}
<form action="{{ url_for('user.rigister') }}" method="post">
    {# csrf #}
    {{ form.csrf_token }}
    {{ form.user.label("用户名：") }}
    <input type="text" name="user" placeholder="请输入用户名">
    #给当前的标签添加属性和值 关键字参数
    #循环迭代取出验证失败的错误信息（也就是你在验证器⾥的属性message的值）

    <br>
    {{ form.password.label("密码：") }}
    <input type="text" name="password" placeholder="请输入密码">


    <br>
    {{ form.pwdcomfirm.label("确认密码：") }}
    <input type="text" name="pwdcomfirm" placeholder="再次输入密码">

    {{ form.cature.label("验证码：") }}
    <input type="text" name="cature" placeholder="验证码">
    <img alt="" src=getcature>
    <br>
    {{ form.email.label("邮箱：") }}
    <input type="text" name="email" placeholder="输入邮箱">


    <br>
    <button>注册</button>
</form>
</body>
</html>
