$colorwhite3: #f7f7f7;
$colorwhite1: #ffffff;
$colorwhite2: #fafafa;
$color-base: #b3d4fc;
$colorblue1: #4aa8f0;
$colorblue2: #1485c9;
$colorblue3: #288fce;
$colorblue4: #4facf4;
$colorblue5: #5fa5e7;
$colorblue6: #1180c5;
$colorbtn: #cc9900;
$colorsearchbtn: #f4810a;
$colorbtn5: #d85f24;
$colorsearchbtnroll: #f99f3e;
$colorbtn1: #ff6600;
$colorbtn4: #ff6d00;
$colorbtn2: #f58115;
$colorbtn3: #faa544;
$colorbg: #175480;
$colorbgvar: #1e4b6c;
$sideboxcolor1: #0e4d7c;
$sideboxcolor1a: #164d6b;
$banner-bg: #014188;
$colorblk: #000000;
$colorgry: #9e9fa1;
$colorgry2: #9e9e9e;
$sideboxbg: #ebebe9;
$sideboxbg1: #ecebe6;
$sideboxborder: #ebece7;
$sideboxbordercolvar: #ededeb;
$font-style1: Signika, "Open Sans", sans-serif;
