<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gok.dao.HotelDao">

    <resultMap id="result" type="cn.gok.entity.HotelPic">
        <result column="hotel_picurl" property="hotelPicurl"/>
    </resultMap>

    <!--分页查询所有数据-->
    <select id="findByPage" resultType="cn.gok.entity.Hotel">
        select hotel_id,hotel_name,hotel_picurl,hotel_address,hotel_price,hotel_suggest,hotel_score
        from hotel limit #{start},#{rows}
    </select>
    <!--查询酒店详情-->
    <select id="findHoteldetail" resultType="cn.gok.entity.Hotel">
                select hotel_id,hotel_name,hotel_picurl,hotel_address,hotel_price,hotel_suggest,hotel_score
        from hotel where hotel_id= #{hotel_id}

    </select>
    <!--查询推荐酒店-->
    <select id="findRecommendHotel" resultType="cn.gok.entity.Hotel">
                select hotel_id,hotel_name,hotel_picurl,hotel_address,hotel_price,hotel_suggest,hotel_score
        from hotel  ORDER BY hotel_score DESC limit 5

    </select>
    <!--查询酒店品牌-->
    <select id="findhotelbrandlist" resultType="cn.gok.entity.Hotel">
                select hotel_id,hotel_name,hotel_picurl,hotel_address,hotel_price,hotel_suggest,hotel_score
        from hotel  ORDER BY RAND() limit 8
    </select>
    <!--查询酒店列表页的品牌-->
    <select id="hotelListBrand" resultType="cn.gok.entity.Hotel">
                select hotel_id,hotel_name,hotel_picurl,hotel_address,hotel_price,hotel_suggest,hotel_score
        from hotel  where hotel_name like #{hotelbrand} '%' limit #{start},#{rows}
    </select>
    <!--查询总条数-->
    <select id="findTotals" resultType="integer">
        select count(hotel_id) from hotel
    </select>

    <!--查询所有数据-->
    <select id="findAll" resultType="cn.gok.entity.Hotel">
        select hotel_id,hotel_name,hotel_picurl,hotel_address,hotel_price,hotel_suggest,hotel_score
        from hotel
    </select>

    <!--查询酒店表中所有图片地址-->
    <select id="findAllPicurl" resultMap="result">
        select hotel_picurl from hotel
    </select>

</mapper>