<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.gok.dao.SceneryDao">

    <resultMap id="result" type="cn.gok.entity.SceneryPic">
        <result column="scenery_picurl" property="sceneryPicurl"/>
    </resultMap>

    <!--分页查询所有数据-->
    <select id="findByPage" resultType="cn.gok.entity.Scenery">
        select scenery_id,scenery_picurl,scenery_startcity,scenery_content,scenery_price,scenery_directory,scenery_type
        from scenery limit #{start},#{rows}
    </select>

    <!--查询总条数-->
    <select id="findTotals" resultType="integer">
        select count(scenery_id) from scenery;
    </select>

    <!--查询所有数据-->
    <select id="findAll" resultType="cn.gok.entity.Scenery">
        select  scenery_id,scenery_picurl,scenery_price,scenery_directory,scenery_type
        from scenery
    </select>

    <!--查询酒店表中所有图片地址-->
    <select id="findAllPicurl" resultMap="result">
        select scenery_picurl from scenery;
    </select>
    <!--查询景点详情-->
    <select id="findScenerydetail" resultType="cn.gok.entity.Scenery">
        select scenery_id,scenery_picurl,scenery_price,scenery_directory,scenery_type,scenery_startcity
        from scenery where scenery_id= #{scenery_id}

    </select>

</mapper>