.DS_Store
node_modules/
dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/assets/fonts/
src/assets/icons/
src/assets/images/

_assets/filter.txt
spare/
.sass-cache/1*


src/components/spare-components/*
