* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  /*font-size: 15px;*/
  font-family: 'Microsoft Yahei';
}
#canvas {
  border: 1px solid #ccc;
  margin: 15px auto;
  display: flex;
}

.brush-container {
  width: 530px;
  margin: 20px auto;
}

.brush-container .brush {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 3px;
}

.brush-container .brush.active {
  animation: floatUp 200ms ease-in;
  animation-fill-mode: forwards;
  box-shadow: 2px 2px 3px 1px #ccc;
}

@keyframes floatUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

/*画笔大小*/
.brush-size {
  position: relative;
  float: right;
  width: 42px;
  height: 42px;
  border: 1px solid #555;
  background-color: #ccc;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  line-height: 42px;
  letter-spacing: 2px;
  cursor: pointer;
}

.brush-size .size-btn {
    cursor: pointer;
    user-select: none;
}


.brush-size.shrink .brush-size-list {
  display: none;
}

.brush-size-list {
  position: absolute;
  top: -180px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  width: 50px;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  border: 1px solid #d9d9d9;
}
.brush-size-list .brush-size-item {
  text-align: center;
  list-style: none;
  background-color: #eee;
  border-radius: 50%;
  margin: 10px 0;
  cursor: pointer;
}

.brush-size-list .brush-size-item:hover {
  background-color: green;
}

.brush-size-list .brush-size-item.px5 {
  width: 5px;
  height: 5px;
}
.brush-size-list .brush-size-item.px8 {
  width: 8px;
  height: 8px;
}
.brush-size-list .brush-size-item.px10 {
  width: 10px;
  height: 10px;
}
.brush-size-list .brush-size-item.px12 {
  width: 12px;
  height: 12px;
}
.brush-size-list .brush-size-item.px18 {
  width: 18px;
  height: 18px;
}
.brush-size-list .brush-size-item.px28 {
  width: 28px;
  height: 28px;
}
