*{margin:0; padding:0; margin:0 auto;}
li{list-style:none;}
a{text-decoration:none;}
img{border:none;}
/*公共属性*/
.nav{height:26px; background:#413b39;}
.navbox{width:980px; margin:0 auto;}
.navbox li{float:left; margin-top:6px; margin-right:31px;}
.navbox li a{font-size:12px; color:#a9a3a3; }
.nav3 li{float:right;}
/*000*/
.logo{height:90px; background-image:url(../images/111.png)}
.logo1{width:980px; margin:0 auto;}
.logo1 .img2{float:right;}
.logo img{margin:0 auto; margin-top:18px;}
/*002*/
.mainbav{height:37px; background:#5e5755; border-bottom:#0f85d7 solid 5px;}
.mainbav ul{width:980px; height:37px; background:#4b4443;}
.mainbav li{float:left; margin-top:3px;}
.mainbav li a{font-size:16px; color:#f6e4e4; margin-left:35px;}
.mainbav a:hover{background-color:#0f85d7;}
.mainbav a:hover{color:#FFFFFF;}
.mainbav .currentA{background-color:#0f85d7;}
.mainbav a{display:block; width:100px;line-height:35px; height:35px; text-align:center;}
/*003*/
.love{height:74px; background:#f6f6f6;}
.like{width:980px; height:74px;}
.hehe li{float:left; color:#0088cc; font-size:12px; margin-left:10px;}
.hehe .hehe1{color:#999999; font-size:12px;}
.like2 form{padding-top:20px;}
.ul2{float:right; margin-right:360px; margin-top:-22px;}
.ul2 li{float:left; font-size:12px; color:#0088cc; margin-left:10px;}
.ul2 .ul1{font-size:12px; color:#999999;}
/*7879*/
.mabi{width:974px; height:221px; margin-top:26px;}
.wo{width:740px; height:192px; margin:15px auto; border:#ffd1ba solid 1px; border-top:#ff6600 solid 2px; float:left;}
.ai{width:216px; height:194px; border:#e8e8e8 solid 1px; float:right;}
.ni{width:740px; height:36px; background:#f8f8f8; float:left; border-top:#fd874c solid 2px;}
.ni ul{margin-top:11px;}
.ni li{float:left; font-size:12px; color:#333333; margin-right:36px;}
.ni .ooo{color:#ff6600;}
.ni .ppp{float:right;}
.ni .lll{margin-top:-3px;}
.aiai{width:740px; height:34px; background:#fff3ed;}
.aiai li{font-size:12px; color:#333333; margin-top:44px;}
.maoxian{margin-top:10px; margin-left:23px;}
.maoxian1{margin-top:10px; margin-left:95px;}
.maoxian2{margin-top:10px; margin-left:95px;}
.wowo li{margin-left:20px; padding-top:10px;}
.wowo li span{font-size:12px; color:#ff6600;}
.wo1{font-size:12px; margin-top:19px; margin-left:19px;}
.wo1 li span{color:#FFFFFF; background:#fd874c;}
.wo1 li{color:#666666;}
.buxian{background:#FF0000; color:#fd874c;}
.wo1 .wo2{margin-top:22px; margin-left:23px;}
.wo1 .wo3{margin-top:16px; margin-left:83px;}
.wo1 .wo4{margin-top:14px; margin-left:92px;}
.ai{margin-top:15px;}
.ai li{font-size:12px; color:#333333; margin-top:20px; margin-left:12px;}
.ai li span{margin-left:10px; float:right; margin-right:40px;}
.ai li p{color:#999999; float:right; margin-right:20px;}
/*ssa*/
.hao{width:974px;height:1420px; margin:0 auto;}
.ma{width:742px; height:122px; border-bottom:#dddddd solid 1px; float:left;}
.mama{width:415px; height:122px; float:right;}
.mama li{margin-top:3px;}
.yanse{font-size:14px; color:#005bb5;}
.yanse1{font-size:14px; color:#333333;}
.yanse2{font-size:14px; color:#333333;}
.yanse6{font-size:12px; color:#666666;}
.yanse7{font-size:12px; color:#333333;}
.yanse8{font-size:12px; color:#ff6600;}
.yanse9{font-size:20px; color:#ff6600;}
.yanse10{font-size:12px; color:#ff6600;}
.yanse11{font-size:12px; color:#666666;}
/*12*/
.ma1{width:742px; height:122px; border-bottom:#dddddd solid 1px; float:left; margin-top:20px;}
.mama{width:415px; height:122px; float:right;}
.mama li{margin-top:3px;}
.yanse{font-size:14px; color:#005bb5;}
.yanse1{font-size:14px; color:#333333;}
.yanse2{font-size:14px; color:#333333;}
.yanse6{font-size:12px; color:#666666;}
.yanse7{font-size:12px; color:#333333;}
.yanse8{font-size:12px; color:#ff6600;}
.yanse9{font-size:20px; color:#ff6600;}
.yanse10{font-size:12px; color:#ff6600;}
.yanse11{font-size:12px; color:#666666;}
.ooo{width:165px; height:122px; float:right;}
.dong{float:right;}
.img11{float:right; margin-right:15px; margin-top:5px;}
.ma110{width:740px; height:122px; margin-left:312px; border-bottom:#dddddd solid 1px; margin-top:17px;}
.ma110 li{float:right; margin-right:40px;}
.ma110 li .cao1{color:#ff6600;}
.ma110 .cao{color:#005bb5;}
.img11{float:right; margin-right:15px; margin-top:5px;}
/*anniu*/
.anniu{width:712px;; height:32px; float:left; margin-top:13px;}
.sp{width:34px; height:27px; color:#ff6600; margin-left:8px;}
.anniu form{float:right;}
.anniu form input:active{ font-size:16px;}
.anniu form input,.anniu .zyz8,.anniu .jia{ background-color:#fff; color:#2d77b1; border:#CCCCCC solid 1px;}
.anniu form input{width:28px; height:25px;}
.anniu .zyz8{width:64px; height:29px;}
.anniu .jia{ color:#cccccc;width:64px; height:29px;}
/*bottom*/
.ca{ width:722px; height:122px; background:#FF0000;}
.bottom{ width:100%px; height:300px;}
.bottom .bottom-1{ width:978px; height:146px; margin:auto; border:#e3e3e5 solid 1px; margin-top:80px;}
.bottomtxt{ margin-top:10px; margin-left:20px;}
.bottomtxt img{ margin-top:10px;}
.bottomtxt img,.bottomtxt-1{ float:left;}
.bottomtxt .bottomtxt-1{ margin-left:15px;}
.bottomtxt-1 h3{line-height:30px; height:30px;  border-bottom:#e3e3e5 solid 1px; width:160px; font-size:16px; color:#707070;}
.bottomtxt-1 h3 span{ display:block; border-bottom:#419eda solid 1px;line-height:30px;height:30px;width:70px; margin-right:150px;}
.bottomtxt-1 ul{ line-height:20px; margin-top:10px;}
.bottomtxt-1 ul li a{ color:#999999; font-size:13px;}
/*bottom-2*/
.bottom-2{ margin-top:20px;}
.bottom-2 p{ width:978px; margin:0 auto; text-align:center; font-size:13px; color:#666666; line-height:20px;}
.bottom-2 h3{width:978px; margin:0 auto; text-align:center; font-size:13px; color:#666666; line-height:35px; font-weight:normal;}