*{margin:0; padding:0; margin:0 auto;}
li{list-style:none;}
a{text-decoration:none;}
img{border:none;}
/*公共属性*/
.nav{height:26px; background:#413b39;}
.navbox{width:980px; margin:0 auto;}
.navbox li{float:left; margin-top:6px; margin-right:31px;}
.navbox li a{font-size:12px; color:#a9a3a3; }
.nav3 li{float:right;}
/*000*/
.logo{height:90px; background-image:url(../images/111.png)}
.logo1{width:980px; margin:0 auto;}
.logo1 .img2{float:right;}
.logo img{margin:0 auto; margin-top:18px;}
/*002*/
#Adv{height:350px; background:red; position:relative;}
#Adv .ImgList{width:100%; height:350px; position:absolute;left:0px; top:0px;z-index:2;}
#Adv ul.button li{width:50px; height:10px; background:#000; border:1px dotted #fff; float:left;margin:0px 5px; list-style-type:none;}
#Adv ul.button{height:20px; position:absolute;left:43%; bottom:30px;z-index:3; display:inline-block;}
#Adv ul.button li.hover{background:#fff;}
/*003*/
.mainbav{height:37px; background:#5e5755; border-bottom:#0f85d7 solid 5px;}
.mainbav ul{width:980px; height:37px; background:#4b4443;}
.mainbav li{float:left; margin-top:3px;}
.mainbav li a{font-size:16px; color:#f6e4e4; margin-left:35px;}
.mainbav a:hover{background-color:#0f85d7;}
.mainbav a:hover{color:#FFFFFF;}
.mainbav .currentA{background-color:#0f85d7;}
.mainbav a{display:block; width:100px;line-height:35px; height:35px; text-align:center;}
/*004*/
#Top{ width:100%px; background-color:#f3f3f3;}
#Top .Nav{ width:980px; margin:auto; height:518px; padding-top:10px;}
.Nav h1{ font-size:23px; line-height:38px; color:#3d3d3d;}
.main-1{ width:313px; float:left;}
.main-1 .shop{ width:160px; height:50px;background-color:#FFFFFF; margin-right:160px; position:relative;}
.main-1 .shop a{ color:#1b7dc6; position:absolute; left:73px; top:20px;}
/*005*/
.mainNav ul{ background-color:#FFFFFF; width:313px; height:49px; border-bottom: #f7f7f7 solid 1px;}
.mainNav ul:hover{ border:#f5bf69 solid 1px;}
.mainNav ul li{list-style-type:none;/*去掉圆点*/ height:49px;  line-height:49px; text-align:center;/*文字水平距中*/ float:left;font-size:14px;font-family:"微软雅黑"; position:relative;/*相对定位*/}
.mainNav ul li .menu a{ color:#9933FF; text-decoration:none;}
.mainNav ul li .menu{width:310px; border:1px solid  #f5bf69;position:absolute; background:#fff;z-index:3;/*改变定位元素的上下关系(那个在上，那个在正下，值越大，越在上面)*/filter:Alpha(opacity=90);-moz-opacity: 0.9; opacity: 0.9;/*背景透明*/ display:none;/*隐藏*/ padding:10px;/*内边距*/ height:430px;}
.mainNav ul li p{text-align:left;/*距左*/line-height:35px; border-bottom:1px dotted #ddd;}
.mainNav ul li p span{font-weight:bold;}
/*006*/
.rightimg{ float:right; width:667px;}
.rightimg .fuck10{width:312px; height:220px; background:#ffffff; border-bottom:#dadada solid 1px; float:left;}
.fuck10 .right-1{ line-height:20px; margin-top:10px; color:#000000;font-size:13px; margin-left:10px;}
.rightimg .fuck10 span{float:right; font-size:20px; color:#ef5944; margin-left:8px; margin-top:7px; margin-right:5px;}
.rightimg .fuck10 .caonima{font-size:12px; color:#999999;}
.rightimg .fuck10 .right-2{ font-size:12px; color:#3d3d3d; line-height:20px;margin-left:10px;}
/*789*/
.diao1{height:775px; background:#f3f3f3;}
.mao012{width:230px; height:346px;border-bottom:#dadada solid 1px; background:#ffffff; float:left; margin-top:15px; margin-right:20px;}
.mao012 .mao1{font-size:14px; color:#3d3d3d;}
.mao012 li{margin-left:10px; margin-top:10px; font-size:12px; color:#9f9f9f;}
.mao012 .mao2{font-size:20px; color:#ef5956;}
.mao012 span{font-size:14px; color:#9f9f9f; margin-right:16px; text-decoration:line-through;}
.mao012 .mao3{float:right; margin-right:8px;}
/*21*/
.xiaoxian{height:365px; background:#f3f3f3;}
.mabi99{width:980px;}
.mabi99 a{float:right; font-size:12px; font-family:"宋体";}
.mabi99 h1{color:#3d3d3d; font-size:24px;}
.mabi22{width:313px; height:300px; background:#FFFFFF; border-bottom:#dadada solid 1px;}
.mabii{width:980px; height:335px;}
.mabi22{float:left; margin-top:16px;}
.mabi22 .mao11{font-size:15px; color:#3d3d3d; margin-top:15px; margin-left:10px;}
.mabi22 li{font-size:12px; color:#9f9fae; margin-left:10px; margin-top:5px;}
.mabi22 .ming{color:#000000;}
.mabi22 span{color:#9f9fae;}
.mabi22 li img{float:right; margin-top:-40px;}
/*qwqwq*/
.mabi222{width:313px; height:300px; background:#FFFFFF; border-bottom:#dadada solid 1px; float:left; margin-top:16px;}
.mabii{width:980px; height:335px;}
.mabi222{ margin-left:20px;}
.mabi222 .mao111{font-size:15px; color:#3d3d3d; margin-top:15px; margin-left:10px;}
.mabi222 li{font-size:12px; color:#9f9fae; margin-left:10px; margin-top:5px;}
.mabi222 .ming{color:#000000;}
.mabi222 span{color:#9f9fae;}
.mabi222 li img{float:right; margin-top:-40px;}
/*123*/
.diao{height:795px; background:#f3f3f3;}
.mabi{width:980px; height:745px;}
.mabi9{width:980px;}
.mabi9 img{float:right;}
.mabi9 h1{color:#3d3d3d; font-size:24px;}
.mabi2{width:483px; height:346px; float:left; margin-top:15px; border-bottom:#dadada solid 1px; background:#ffffff;}
.mabi2 .mabi3{font-size:14px; color:#3d3d3d; margin-top:14px; margin-left:10px;}
.mabi2 li{margin-left:10px; margin-top:10px; font-size:12px; color:#9f9f9f;}
.mabi2 .mabi4{font-size:20px; color:#ef5956;}
.mabi4 span{font-size:14px; color:#9f9f9f; margin-right:16px; text-decoration:line-through;}
.mabi4 img{float:right; margin-top:-6px; margin-right:8px;}
/*321*/
.mao{width:230px; height:346px;border-bottom:#dadada solid 1px; background:#ffffff; float:left;margin-top:15px; margin-left:18px;}
.mao .mao1{font-size:14px; color:#3d3d3d;}
.mao li{margin-left:10px; margin-top:10px; font-size:12px; color:#9f9f9f;}
.mao .mao2{font-size:20px; color:#ef5956;}
.mao span{font-size:14px; color:#9f9f9f; margin-right:16px; text-decoration:line-through;}
.mao .mao3{float:right; margin-right:8px;}
/*12*/
.mao0{width:230px; height:346px;border-bottom:#dadada solid 1px; background:#ffffff; float:right; margin-top:15px;}
.mao0 .mao1{font-size:14px; color:#3d3d3d;}
.mao0 li{margin-left:10px; margin-top:10px; font-size:12px; color:#9f9f9f;}
.mao0 .mao2{font-size:20px; color:#ef5956;}
.mao0 span{font-size:14px; color:#9f9f9f; margin-right:16px; text-decoration:line-through;}
.mao0 .mao3{float:right; margin-right:8px;}
/*456*/
.mao01{width:230px; height:346px;border-bottom:#dadada solid 1px; background:#ffffff; float:left; margin-top:15px;}
.mao01 .mao1{font-size:14px; color:#3d3d3d;}
.mao01 li{margin-left:10px; margin-top:10px; font-size:12px; color:#9f9f9f;}
.mao01 .mao2{font-size:20px; color:#ef5956;}
.mao01 span{font-size:14px; color:#9f9f9f; margin-right:16px; text-decoration:line-through;}
.mao01 .mao3{float:right; margin-right:8px;}
/*789*/
.mao02{width:230px; height:346px;border-bottom:#dadada solid 1px; background:#ffffff; float:left; margin-top:15px; margin-left:20px;}
.mao02 .mao1{font-size:14px; color:#3d3d3d;}
.mao02 li{margin-left:10px; margin-top:10px; font-size:12px; color:#9f9f9f;}
.mao02 .mao2{font-size:20px; color:#ef5956;}
.mao02 span{font-size:14px; color:#9f9f9f; margin-right:16px; text-decoration:line-through;}
.mao02 .mao3{float:right; margin-right:8px;}
.hao{height:555px; background:#f3f3f3;}
/*bottom*/
.bottom{ width:100%px; height:300px;}
.bottom .bottom-1{ width:978px; height:146px; margin:auto; border:#e3e3e5 solid 1px; margin-top:45px;}
.bottomtxt{ margin-top:10px; margin-left:20px;}
.bottomtxt img{ margin-top:10px;}
.bottomtxt img,.bottomtxt-1{ float:left;}
.bottomtxt .bottomtxt-1{ margin-left:15px;}
.bottomtxt-1 h3{line-height:30px; height:30px;  border-bottom:#e3e3e5 solid 1px; width:160px; font-size:16px; color:#707070;}
.bottomtxt-1 h3 span{ display:block; border-bottom:#419eda solid 1px;line-height:30px;height:30px;width:70px; margin-right:150px;}
.bottomtxt-1 ul{ line-height:20px; margin-top:10px;}
.bottomtxt-1 ul li a{ color:#999999; font-size:13px;}
/*bottom-2*/
.bottom-2{margin-top:20px;}
.bottom-2 p{width:978px; margin:0 auto; text-align:center; font-size:13px; color:#666666; line-height:20px;}
.bottom-2 h3{width:978px; margin:0 auto; text-align:center; font-size:13px; color:#666666; line-height:35px; font-weight:normal;}
/* side */
.side{position:fixed;width:54px;height:275px;right:0;top:214px;z-index:100;}
.side ul li{width:54px;height:54px;float:left;position:relative;border-bottom:1px solid #444;}
.side ul li .sidebox{position:absolute;width:54px;height:54px;top:0;right:0;transition:all 0.3s;background:#000;opacity:0.8;filter:Alpha(opacity=80);color:#fff;font:14px/54px "微软雅黑";overflow:hidden;}
.side ul li .sidetop{width:54px;height:54px;line-height:54px;display:inline-block;background:#000;opacity:0.8;filter:Alpha(opacity=80);transition:all 0.3s;}
.side ul li .sidetop:hover{background:#ae1c1c;opacity:1;filter:Alpha(opacity=100);}
.side ul li img{float:left;}