*{margin:0; padding:0; margin:0 auto;}
li{list-style:none;}
a{text-decoration:none;}
img{border:none;}
h1,h2,h3{ font-weight:normal;}
/*公共属性*/
.nav{height:26px; background:#413b39;}
.navbox{width:980px; margin:0 auto;}
.navbox li{float:left; margin-top:6px; margin-right:31px;}
.navbox li a{font-size:12px; color:#a9a3a3; }
.nav3 li{float:right;}
/*000*/
.logo{height:90px; background-image:url(../images/111.png)}
.logo1{width:980px; margin:0 auto;}
.logo1 .img2{float:right;}
.logo img{margin:0 auto; margin-top:18px;}
/*003*/
.mainbav{height:37px; background:#5e5755; border-bottom:#0f85d7 solid 5px;}
.mainbav ul{width:980px; height:37px; background:#4b4443;}
.mainbav li{float:left; margin-top:3px;}
.mainbav li a{font-size:16px; color:#f6e4e4; margin-left:35px;}
.mainbav a:hover{background-color:#0f85d7;}
.mainbav a:hover{color:#FFFFFF;}
.mainbav .currentA{background-color:#0f85d7;}
.mainbav a{display:block; width:100px;line-height:35px; height:35px; text-align:center;}
/*003*/
.love{height:74px; background:#f6f6f6;}
.like{width:980px; height:74px;}
.hehe li{float:left; color:#0088cc; font-size:12px; margin-left:10px;}
.hehe .hehe1{color:#999999; font-size:12px;}
.like2 form{padding-top:20px;}
.ul2{float:right; margin-right:360px; margin-top:-22px;}
.ul2 li{float:left; font-size:12px; color:#0088cc; margin-left:10px;}
.ul2 .ul1{font-size:12px; color:#999999;}
/*1132*/
.you{width:742px; height:215px; border-top:#ffa63c solid 2px; margin-top:20px; float:left;}
.youyou{width:973px;height:254px; margin:auto;}
.youni{width:742px; height:43px; background:#f5f5f5;}
.youni li{font-size:12px; color:#333333; padding-top:15px; margin-left:10px;}
.diao{float:right; margin-top:-30px; margin-right:10px;}
.youwo{width:742px; height:43px; border-bottom:#dddddd dashed 1px;}
.youwo li{margin-top:8px;}
.youwo .fuck{float:left; margin-right:97px;}
/*4*/
.ai{width:215px; height:192px; border:#e8e8e8 solid 1px; float:right; margin-top:-158px; margin-right:-230px;}
.ai li{font-size:12px; color:#333333; margin-top:15px; margin-left:12px;}
.ai li span{margin-left:10px; float:right; margin-right:40px;}
.ai li p{color:#999999; float:right; margin-right:20px;}
.youwo1{width:742px; height:40px; border-bottom:#dddddd dashed 1px;}
.youwo1 li{margin-top:2px;}
.youwo1 .fuck{float:left; margin-right:40px;}
/*1212*/
.lu{width:742px; height:38px; background:#f0f0f0;}
.lu li{float:left; font-size:12px; color:#333333; margin-right:10px; margin-top:13px; margin-left:20px;}
.xian{width:742px; height:198px; border-bottom:#dddddd solid 1px; margin-left:312px; float:right;}
.xian li{float:right; margin-right:180px; margin-top:10px;}
.mao{font-size:12px; color:#666666;}
.mao li{margin-top:-80px; margin-right:70px;}
.mao1 li{font-size:12px; color:#666666; float:left; margin-left:130px;}
.caonima{width:985px; height:199px;}
.diaomao{width:742px; background:#FFFFFF; float:left;}
.diaomao1{width:973px; height:2061px; margin:auto;}
/*anniu*/
.anniu{width:860px; height:32px; float:left;}
.sp{width:34px; height:27px; color:#ff6600; margin-left:8px;}
.anniu form{float:right;}
.anniu form input:active{ font-size:16px;}
.anniu form input,.anniu .zyz8,.anniu .jia{ background-color:#fff; color:#2d77b1; border:#CCCCCC solid 1px;}
.anniu form input{width:28px; height:25px;}
.anniu .zyz8{width:64px; height:29px;}
.anniu .jia{ color:#cccccc;width:64px; height:29px;}
/*bottom*/
.bottom{ width:100%px; height:300px;}
.bottom .bottom-1{ width:978px; height:146px; margin:auto; border:#e3e3e5 solid 1px; margin-top:45px;}
.bottomtxt{ margin-top:10px; margin-left:20px;}
.bottomtxt img{ margin-top:10px;}
.bottomtxt img,.bottomtxt-1{ float:left;}
.bottomtxt .bottomtxt-1{ margin-left:15px;}
.bottomtxt-1 h3{line-height:30px; height:30px;  border-bottom:#e3e3e5 solid 1px; width:160px; font-size:16px; color:#707070;}
.bottomtxt-1 h3 span{ display:block; border-bottom:#419eda solid 1px;line-height:30px;height:30px;width:70px; margin-right:150px;}
.bottomtxt-1 ul{ line-height:20px; margin-top:10px;}
.bottomtxt-1 ul li a{ color:#999999; font-size:13px;}
/*bottom-2*/
.bottom-2{ margin-top:20px;}
.bottom-2 p{ width:978px; margin:0 auto; text-align:center; font-size:13px; color:#666666; line-height:20px;}
.bottom-2 h3{width:978px; margin:0 auto; text-align:center; font-size:13px; color:#666666; line-height:35px;}